<div class="user text-center">

    <img src="/assets/images/chartjs.svg" style="border: 0px solid #383c4a;padding: 1px;width: 80px;" alt="axis">
    <h4 class="user-name">Hive</h4>
</div>

<nav class="navigation">
    <ul class="list-unstyled">
        <!-- <li><a href="/dashboard"><i class="fa fa-bookmark-o"></i><span class="nav-label">Dashboard</span></a></li> -->

        <li><a href="/"><i class="glyphicon glyphicon-inbox"></i><span class="nav-label">Dashboard</span></a></li>

        <li><a href="/chart"><i class="fa fa-area-chart"></i><span class="nav-label">
        charts</span></a></li>  

        <li><a href="/chart/line"><i class="fa fa-area-chart"></i><span class="nav-label">
        Chart Type2</span></a></li>               

        <li><a href="/metrics"><i class="fa fa-cog"></i><span class="nav-label">Setting</span></a></li>

        <!-- <li><a href="/dimension"><i class="fa fa-line-chart"></i><span class="nav-label">Dimensions</span></a></li>

        <li><a href="/scheduler"><i class="glyphicon glyphicon-time"></i><span class="nav-label">GA Schedules</span></a></li>


        <li><a href="/bqproject/"><i class="fa fa-database"></i><span class="nav-label">BigQuery Project</span></a></li>


        <li><a href="/bqscheduler/"><i class="fa fa-database"></i><span class="nav-label">BigQuery Schedular</span></a></li>

        <li><a href="/users/"><i class="fa fa-users"></i><span class="nav-label">Users</span></a></li> -->        
        
    </ul>
</nav>