             <!-- JQuery v1.9.1 -->
  <script src="/assets/js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/underscore/underscore-min.js"></script>

    <!-- JQuery v1.8.2 Custom-->
    <script src="/assets/js/jquery/jquery-1.8.2.js" type="text/javascript"></script>

     <!-- JQuery jquery-2.1.1 Custom-->
    <script src="/assets/js/jquery/jquery-2.1.1.js" type="text/javascript"></script>


    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    
    <!-- Globalize -->
    <script src="/assets/js/globalize/globalize.min.js"></script>
    
     <!-- NiceScroll -->
    <script src="/assets/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>

    <!-- NanoScroll -->
    <script src="/assets/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>

    <!-- TypeaHead -->
    <script src="/assets/js/plugins/typehead/typeahead.bundle.js"></script>
    <script src="/assets/js/plugins/typehead/typeahead.bundle-conf.js"></script>

    <!-- InputMask -->
    <script src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>
    
    <!-- TagsInput -->
    <script src="/assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    
    <!-- Chosen -->
    <script src="/assets/js/plugins/bootstrap-chosen/chosen.jquery.js"></script>
    
    <!-- moment -->
    <script src="/assets/js/moment/moment.js"></script>
    
    <!-- DateTime Picker -->
    <script src="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    
    <!-- Custom JQuery -->
  <script src="/assets/js/app/custom.js" type="text/javascript"></script>
   
   <!-- Data Table -->
    <script src="/assets/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/assets/js/plugins/datatables/DT_bootstrap.js"></script>
    <script src="/assets/js/plugins/datatables/jquery.dataTables-conf.js"></script>
 
<script type="text/javascript" src="/assets/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/assets/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css" type="text/css"/>