<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hive Demo</title>

  <meta name="description" content="">
  <meta name="axis ga" content="Axis GA">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css" /> 

<!-- datatables Styling  -->
    <link rel="stylesheet" href="/assets/css/plugins/datatables/jquery.dataTables.css" />

  <!-- Typeahead Styling  -->
    <link rel="stylesheet" href="/assets/css/plugins/typeahead/typeahead.css" />

<!-- CUSTOM footer CSS  -->
   <style> .footer {
      position: fixed; bottom: 0px; height: 35px; width: 100%;
             } 
    </style>

    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
 <!--    <link rel="stylesheet" href="/libs/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/libs/blueimp-gallery.min.css.map">
    <script src="/libs/blueimp-gallery.min.css.map"></script>
 -->
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/assets/css/plugins/file-upload/jquery.fileupload.css">
    <link rel="stylesheet" href="/assets/css/plugins/file-upload/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/assets/css/plugins/file-upload/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="/assets/css/plugins/file-upload/jquery.fileupload-ui-noscript.css"></noscript>

     <!-- TagsInput Styling  -->
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" />

    <!-- Chosen Select  -->
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-chosen/chosen.css" />

    <!-- DateTime Picker  -->
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />

     <!-- Bootstrap Validator  -->
    <link rel="stylesheet" href="/assets/css/bootstrap-validator/bootstrap-validator.css" />

    <!-- Switch Buttons  -->
    <link rel="stylesheet" href="/assets/css/switch-buttons/switch-buttons.css" />

    <!-- Fonts  -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'> -->
    <link href='http:/libs/family.css' rel='stylesheet' type='text/css'>
    
    <!-- Base Styling  -->
    <link rel="stylesheet" href="/assets/css/app/app.v1.css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     <!-- Preloader -->
    <div class="loading-container">
      <div class="loading">
        <div class="l1">
          <div></div>
        </div>
        <div class="l2">
          <div></div>
        </div>
        <div class="l3">
          <div></div>
        </div>
        <div class="l4">
          <div></div>
        </div>
      </div>
    </div>
    <!-- Preloader -->
