<button type="button" class="navbar-toggle pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

<nav class=" navbar-default hidden-xs" role="navigation">
    <!-- nav items here -->
</nav>

<ul class="nav-toolbar">
   <!--  <li>
        <a href="/users/logout" style="width: 73px;"> Signout </a>
    </li> -->
    <a href="/users/logout" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>

</ul>