<!DOCTYPE html>

<html lang="en">

<head>
    <% include partials/head.html %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.js"></script>

</head>

<body data-ng-app>
  <aside class="left-panel">
      <% include partials/aside.html %>            
  </aside>
    <!-- Aside starts-->
        <!-- Aside Ends-->
        <section class="content">
        <header class="top-head container-fluid">
           <% include partials/header.html %>    
        </header>
                <div class="warper container-fluid">

                    <div class="page-header">
                        <h1>Q1 Result <small></small></h1>
                    </div>


                    <div class="row">

                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">Needs</div>
                                <div class="panel-body">
                                    <canvas id="bar-chart" height="200"></canvas>
                                    <script>
                                        var ctx = document.getElementById("bar-chart");
                                        var myChart = new Chart(ctx, {
                                            type: 'line',
                                            data:{
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Q1 Result",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
        }
    ]                                                
                                            }
                                        });
                                    </script>
                                    <!-- <div id="bar-chart" style="height:250px;"></div> -->
                                </div>
                            </div>
                        </div>

                        <!--  -->

                </div>
                <!-- Warper Ends Here (working area) -->
                <footer class="container-fluid footer">
                </footer>
        </section>
        <!-- Content Block Ends Here (right box)-->
        <!-- Footer JS Files start-->
        <% include partials/footer.html %>
            <!-- Footer JS Files end-->
</body>

</html>