<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.html %>
        <!-- file upload js -->
        <script src="/javascripts/file-upload.js"></script>
        <!-- Bootstrap Validator  -->
        <link rel="stylesheet" href="/assets/css/bootstrap-validator/bootstrap-validator.css"/>
</head>

<body>
    <aside class="left-panel">
        <% include partials/aside.html %>
    </aside>
    <section class="content">
        <header class="top-head container-fluid">
            <% include partials/header.html %>
        </header>
        <!-- Header Ends -->

        <!-- Warper start -->
        <div class="warper container-fluid">

    <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1 class="text-center" style="font-size:150px; font-weight:800;">404</h1>
                <p class="text-center lead">The Page you requested does not exist</p>
                <hr class="">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center ">
                <hr class="">
                <p class="text-gray"><%=message%></p>
                <a href="/dashboard"><button type="submit" class="btn btn-default">Go Home</button></a>
            </div>
        </div>

        </div>
        <!-- Warper Ends Here (working area) -->

        <footer class="container-fluid footer">
            <% include partials/footer.html %>
                <!-- Bootstrap Validator -->
                <script src="/assets/js/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
                <script src="/javascripts/portal-validation.js"></script>
        </footer>

    </section>
    <!-- Content Block Ends Here (right box)-->

</body>

</html>