<!DOCTYPE html>
<html lang="en">

<head>  
    <% include partials/head.html %>
</head>

<body>  
    
  <aside class="left-panel">
      <% include partials/aside.html %>            
  </aside>
    
    <section class="content">
      
        <header class="top-head container-fluid">
           <% include partials/header.html %>    
        </header>
        <!-- Header Ends -->
        
         <!-- Warper start -->
        <div class="warper container-fluid">
          
            <div class="page-header">
              <h1>Dashboard</h1>
            </div>
      
      
            <div class="row">
            
              <div class="col-md-12">
            <!-- Panel Main Start -->
      
            <div class="panel panel-default">
                <div class="panel-heading">Data</div>
               <!--  Panel Body Start -->
                <div class="panel-body">
                  
                  </form>
                </div>
                <!-- Panel Body End -->
            </div>
            <!-- Panel Main End -->
      
      </div>
      </div>
      <!-- Row End -->
                        
        </div>
        <!-- Warper Ends Here (working area) -->        
        
        <footer class="container-fluid footer">
          <% include partials/footer.html %>  
        </footer>        
    
    </section>
    <!-- Content Block Ends Here (right box)-->
    
</body>
</html>